<span class="nav-menu-item">@Html.ActionLink("Users", "Index", "User")</span>
<span class="go-left"> | </span>
<span class="nav-menu-item">@Html.ActionLink("Restaurant", "Index", "Restaurant")</span>
<span class="go-left"> | </span>
<span class="nav-menu-item">@Html.ActionLink("Restaurant-User", "Index", "RestaurantUser")</span>
<span class="go-left"> | </span>
<span class="nav-menu-item">@Html.ActionLink("Categories", "Index", "Category")</span>
<span class="go-left"> | </span>
<span class="nav-menu-item">@Html.ActionLink("Menu Category", "Index", "Menu_Category")</span>
<span class="go-left"> | </span>
<span class="nav-menu-item">@Html.ActionLink("Item", "Index", "Item")</span>
<span class="go-left"> | </span>
<span class="nav-menu-item">@Html.ActionLink("Order-User", "ViewFromSession", "Order")</span>
<span class="go-left"> | </span>
<span class="nav-menu-item">@Html.ActionLink("Table", "Index", "Table")</span>
<span class="go-left"> | </span>
<span class="nav-menu-item">@Html.ActionLink("Bill", "Index", "Bill")</span>
<span class="go-left"> | </span>
<span class="nav-menu-item">@Html.ActionLink("User Menus", "UserMenu", "Menu")</span>
<span class="go-left"> | </span>
<span class="nav-menu-item">@Html.ActionLink("Service Request(Admin/Resto)", "Index", "ServiceRequest")</span>
<span class="go-left"> | </span>
<span class="nav-menu-item">@Html.ActionLink("Call Waiter!(Customer)", "Create", "ServiceRequest")</span>
<span class="go-left"> | </span>
<span class="nav-menu-item">@Html.ActionLink("Reports", "Index", "Reports/Index")</span>