<span class="nav-menu-item">@Html.ActionLink("Menus", "Index", "Menu")</span>
<span class="go-left"> | </span>
<span class="nav-menu-item">@Html.ActionLink("Orders","ManageIndex","Table")</span>
<span class="go-left"> | </span>
<span class="nav-menu-item">@Html.ActionLink("Table", "Index", "Table")</span>
<span class="go-left"> | </span>
<span class="nav-menu-item">@Html.ActionLink("Service Request", "Index", "ServiceRequest")</span>
<span class="go-left"> | </span>
<span class="nav-menu-item">@Html.ActionLink("Reports", "Index", "Reports/Index")</span>