@model TouchForFood.Models.menu
@using TouchForFood.App_GlobalResources

@{
    ViewBag.Title = "Delete";
}

<div class="one-third column">&nbsp;</div>

<div class="one-third column">

    <h3 class="main-green">Menu Deleting...</h3>
    <h5 class="main-blue">Are you sure you want to delete this menu?</h5>

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.resto_id)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.restaurant.name)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.name)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.is_active)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.is_active)
        </div>

    </fieldset>
    @using (Html.BeginForm())
    {
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
</div>

@if (ViewBag.Warning != "")
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(ViewBag.Warning));
        alert(message);
    </script>
}