@model IEnumerable<TouchForFood.Models.friendship>
@using TouchForFood.App_GlobalResources

@{
    ViewBag.Title = "Index";
}

<script src="@Url.Content("~/Scripts/altrows.js")" type="text/javascript"></script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="altrowstable" id="alternatecolor">
    <tr>
        <th>
            user
        </th>
        <th>
            user1
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user1.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "table-button table-edit", title = "Edit" })
            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "table-button table-details", title = "Details" })
            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "table-button table-delete", title = "Delete" })
        </td>
    </tr>
}

</table>
