@model IEnumerable<TouchForFood.Models.restaurant_user>
@using TouchForFood.App_GlobalResources

@{
    ViewBag.Title = "Index";
}

<script src="@Url.Content("~/Scripts/altrows.js")" type="text/javascript"></script>

<h3 class="main-green">Index</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="altrowstable" id="alternatecolor">
    <tr>
        <th>
            user
        </th>
        <th>
            restaurant
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.restaurant.name)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "table-button table-delete", title = "Delete" })
        </td>
    </tr>
}

</table>
